@{
    ViewData["Title"] = "About Page";
}
<h1>@ViewData["Title"]</h1>

<h5 class="display-4">About aasignment 7</h5>
<p>This is the second part of assignment 7</p>
<p>his is an web application using .NET Core, ASP.NET Core, C# and the MVC architectual design pattern.</p>